{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}
  about
{% endblock %}

{% block content %}

        <center>
          <div class="about">
            <div><br><br>
                <h1>ABOUT-US</h1>
                <p>(1) our company is an e-commerce company and a marketplace for everybody</p>
                <p>(2)our address:no 23 arumoh street apapa lagos</p>
                <p>(3)founder:ekene akali</p>
                <p>(4)our vision: is to make e-commerce, online store, buisness to buisness, consumer to consumer, consumer to buisness easy for the world </p>
                <p>(5) our target: is 500,000,000million users worldwide</p>
                <p>(6) for sponsorship, advertisement, or enquiry call: 08080524832</p>
            </div>
        </div>
        </center>
        
        
{% endblock %}