{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page view</title>
    <style>
        .page{
            background-color: brown;
            float: right;
            height: 400px;
            width: 300px;
            text-align: center;
            border-radius: 20px;
            margin-top: 10px;
            margin: 30px;

        }
    </style>
</head>
<body>
            <div class="page"><br>
                <button type="submit" class="btn btn-success">buy this ad space</button>
                <p>call</p>
                
                <p>08080524832</p>
                
            </div>
            <script>
                
            </script>
</body>
</html>