{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}
    change_password
{% endblock %}

{% block content %}
      <h1>Change your password here</h1>

    {% if messages %}
      {% for mes in messages %}
        <div class="alert alert-danger">{{mes}}</div>
      {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">
      <table class="table table-bordered">
        {{form.as_table}}
      </table><br>
      <button type="submit" class="btn btn-primary">send</button>
      <button type="reset" class="btn btn-primary">reset</button>

      {% csrf_token %}

    </form>

      
{% endblock %}