{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}
    change_password
{% endblock %}

{% block content %}
      <h3>enter a valid email address and the username you register with to get a new password</h3>

    {% if messages %}
      {% for mes in messages %}
        <div class="alert alert-success">{{mes}}</div>
      {% endfor %}
    {% endif %}

    <form method="post">
      <table class="table table-bordered">
        {{form.as_table}}
      </table><br>
      <button type="submit" class="btn btn-primary">send</button>
      <button type="reset" class="btn btn-primary">reset</button>

      {% csrf_token %}

    </form>

      
{% endblock %}