<li><a href="{% url 'home' %}" class="active">Home</a></li>
                <li><a href="{% url 'frontend:register' %}">register</a></li>
                <li><a href="{% url 'frontend:log_in' %}">login</a></li>
                <li><a href="{% url 'frontend:view_user' %}">view users</a></li>
                <li><a href="{% url 'frontend:add_post' %}">add product</a></li>
                <li><a href="{% url 'frontend:view_post' %}">view product</a></li>
                <li><a href="{% url 'frontend:edit_profile' %}">edit profile</a></li>
                <li><a href="{% url 'frontend:view_profile' %}">view profile</a></li>
                <li><a href="{% url 'frontend:confirm_logout' %}">log out</a></li>
                <li><a href="{% url 'frontend:advertisement' %}">advertise with us</a></li>
                

                <!-- FOOTER -->

                <footer style="background-color: green; text-align: center; margin-top: 20px; margin: 10px;">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-4">
                          <li><a href="{% url 'frontend:about' %}"><i class="fa fa-user">about us</i></a></li><br>
                            <li><a href="{% url 'frontend:privacy' %}"><i class="fa fa-bed">privacy policy</i></a></li><br>
                          <a href="http://www.facebook.com/talknet"><i class="fa fa-facebook">like us on facebook</i></a><br><br>
                          
                        </div>
                        <div class="col-md-4">
                          <li><a href="{% url 'frontend:contact_us' %}"><i class="fa fa-phone">contact us</i></a></li><br>
                          <li><a href="{% url 'frontend:change_password' %}"><i class="fa fa-key">change password</i></a></li><br>
                          <a href="#">product</a><br><br>
                        </div>
                        <div class="col-md-4 offset-col-md-4">
                          <a href="">tweet us</a><br><br>
                          <a href="http://www.instagram.com/talknet"><i class="fa fa-instagram">follow us on instagram</i></a><br><br>
                          <a href="#">buisness</a><br><br>
                        </div>
              
              
                        
                      </div>
                    </div>
                </footer>
                <!-- javascript -->
                  