<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
   
     <!-- Wrapper for slides -->
     <div class="carousel-inner">
       <div class="item active" id="slide1">
         <div class="container">
           <div class="row">
             <div class="col-md-6 col-sm-6">
               <div class="img-slide">
                 <img src="{% static 'frontend/images/phone3.jpg' %}">
               </div>
             </div>
            <div class="col-md-6 col-sm-6">
               <div class="carousel-text">
                <h3>Phone 1</h3>
                <p>Best Phone </p>
                <a href="#" class="btn btn-success">Readmore</a>
              </div>
            </div>
           </div>
         </div>
       </div>
   
       <div class="item" id="slide2">
         <div class="container">
           <div class="row">
             <div class="col-md-6 col-sm-6">
               <div class="img-slide">
                 <img src="{% static 'frontend/images/laptop5.jpg' %}">
               </div>
             </div>
             <div class="col-md-6 col-sm-6">
               <div class="carousel-text">
                 <h3>Laptop 5</h3>
                 <p>Best Laptop in Nigeria</p>
                 <a href="#" class="btn btn-success">Readmore</a>
               </div>
             </div>
           </div>
         </div>
       </div>
   
       <div class="item" id="slide3">
         <div class="container">
           <div class="row">
             <div class="col-md-6 col-sm-6">
               <div class="img-slide">
                 <img src="{% static 'frontend/images/phone4.jpg' %}">
               </div>
             </div>
             <div class="col-md-6 col-sm-6">
               <div class="carousel-text">
                 <h3>Phone 4</h3>
                 <p>Good Phone on land</p>
                 <a href="#" class="btn btn-success">Readmore</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   
     <!-- Left and right controls -->
     <a class="left carousel-control" href="#myCarousel" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#myCarousel" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>
 </div>
