{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}
  home
{% endblock %}

{% block content %}
    <table width="500px" border="1">
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th colspan="3">Action</th>
        </tr>
        {% if page_obj %}
            {% for x in page_obj %}
                <tr>
                    <td>{{x.username }}</td>
                    <td>{{x.first_name }}</td>
                    <td>{{x.last_name}}</td>
                    <td>{{x.email}}</td>
                    <td><a href="{% url 'frontend:view' x.id %}" class="btn btn-primary"><i class="fa fa-eye">view users</i></a></td>
                    
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <center>
                <div>
                  <span>
                    {% if page_obj.has_previous %}
                      <a href="?page={{page_obj.previous_page_number }}">Previous</a>
                      {% endif %}
                    </span>
                      <span>
                        page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}.
                      </span>
                      <span>
                        {% if page_obj.has_next %}
                          <a href="?page={{page_obj.next_page_number }}">Next</a>
                        {% endif %}
                      </span>
                  
                </div>
              </center>
              
        </tr>
    </table>

{% endblock %}